<%- include('_header.html', { pageTitle: '首页', site: site }) %>

<div class="card">
    <p class="site-description"><%= site.description %></p>
    <hr>
    <ul class="post-list">
        <% posts.forEach(function(post){ %>
            <li>
                <a href="<%= post.slug %>.html"><%= post.title %></a>
                <span class="meta"><%= post.date %></span>
            </li>
        <% }) %>
    </ul>
    <div class="list-footer">
        <a href="archive.html" class="read-more">查看所有文章 &rarr;</a>
    </div>
</div>

<%- include('_footer.html', { site: site }) %>